.menu-section{
  background-color: white !important;
}


.tab-container {
    text-align: center;
    padding: 20px;
  }
  .tab-class small{
    color: #666565 !important;
  
  }
  .tab-class .nav-item .d-flex{
    text-decoration: none !important;
  
  }

  
  .menu-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    
  }
  
 
  .menu-item span {
    color: var(--dark);

  }
  .menu-item small {
    color: #666565 !important;

  }


  .nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
    
}


.menu-item .menu-price {
  color: var(--primary);
}

.nav-pills .nav-item .tab-text {
  color: black;
  text-decoration: none !;
}

.nav-pills .nav-item .tab-icon {
  color: var(--primary);

}